<div class="container mt-5">
    <div class="row">
        <div class="col">
            {% if dummy_image %}
            <img src="{{ url_for('static', filename=dummy_image) }}" class="image-crop img-thumbnail rounded ">
            {% else %}
            <img src="{{ url_for('static', filename='user_upload/display.png') }}" class="image-crop img-thumbnail rounded ">
            {% endif %}
            <div class="row">
                <form action="/submit_img" method="POST" enctype="multipart/form-data" class="mt-5">
                    <input type="file" name="file">
                    <button type="submit" class="btn btn-outline-dark">Upload</button>
                </form>
            </div>
        </div>
        <div class="col">
            <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">RGBA</th>
              <th scope="col">Color Palatte (top 25 colors)</th>
            </tr>
          </thead>
          <tbody>
            {%for color in all_colors%}
            <tr>
              <td>{{color}}</td>
              <td>
                <div style="background-color: rgba{{color}}; width: 100px; height: 30px;"></div>
              </td>
            </tr>
          </tbody>
          {%endfor%}
        </table>
        </div>
    </div>
</div>