.custom-card {
    padding-right: 20rem;
}

.cafe_container {
    margin-top: 8rem;
}

.image-container {
    position: relative;
}

.card .bi-pencil {
    display: none;
}

.card:hover .bi-pencil {
    display: block;
}

.edit-icon-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.edit-icon-link:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-danger {
    margin-left: 60rem;
}