 <section class="secondary-bg-color">
    <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <i class="bi bi-bootstrap" aria-hidden="true"></i>
        </a>
        <span class="mb-5 mb-md-0 text-body-secondary fs-5 p-3">© {{datetime}} by Yi-Chen Cheng</span>
    </div>
    </footer>
    </div>
 </section>