 <section class="primary-bg-color">
    <div class="container">
      <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='profile.jpeg') }}" class="img-fluid rounded mx-auto d-block w-50 rounded-circle" alt="Profile photo of Yi-Chen Cheng" loading="lazy">
      </div>
      <div class="col-lg-3 intro-container text-start ms-0 ps-0">
        <h1 class="display-5 fw-bold lh-1 mb-3">Yi-Chen Cheng</h1>
        <p class="lead mb-3">
          Software Engineer @ Cisco | Vulnerability
          Management | DUO | Multilingual | Problem Solver |
          Cyber Security | International Affairs | Former SUSE |
          Former Twilio
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
          <button type="button" class="btn btn-dark btn-lg px-4 me-md-2" >
            <a href="https://www.linkedin.com/in/yi-chen-c-583a72b5/">LinkedIn</a>
          </button>
          <button type="button" class="btn btn-outline-dark btn-lg px-4">
            <a href="https://github.com/effany">Github</a>
          </button>
        </div>
      </div>
      <div class="col lead mb-3">
        <h2 class="pb-2 py-5">Educations</h2>
        <ul>
          <li>Master's in International Relations - Charles University </li>
          <p>- Prague, Czech Republic</p>
          <li>Bachelor's in Political Science - National Chung Cheng University</li>
          <p> - Chiayi, Taiwan</p>
        </ul>
      </div>
    </div>
  </section>