<section class="forth-bg-color">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Skills</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Technical Skills</h4>
          <p>
          <ul>
            <b>Coding skills</b>
            <li>
              Python, Ruby, Javascript, bash
            </li>
          </ul> 
          <ul>
            <b>Debugging</b>
            <li>
              Jira, Kibana,Datadog etc,
            </li>
          </ul>
          
          <ul>
            <b>DevOps</b>
            <li>
              Docker, API integration
            </li>
          </ul>
          <ul><b>GUI/Web development</b>
            <li>
              HTML, Javascript, React , CSS, bootstrap etc
            </li>
          </ul>
          <ul><b>Others</b>
            <li>Cybersecurity fundation,Linux Administration, Technical Documentation, XDR, AI fundation </li>
          </ul>
        </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Language Skills</h4>
          <ul class="mb-0">
            <li>Czech (B1-B2)</li>
            <li>English (C1-C2)</li>
            <li>French (B2)</li>
            <li>Mandarin (Native)</li>
            <li>Taiwanese (Native)</li>
          </ul>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Soft skills</h4>
          <ul class="mb-0">
            <li>Communication</li>
            <li>Cross-functional Collaboration</li>
            <li>Customer Engagement</li>
            <li>Presentation</li>
            <li>Training</li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>